# macOS
.DS_Store

.venv/
__pycache__/
**/__pycache__/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
.coverage.*
htmlcov/
__MACOSX/
*.pyc
dist/
build/
*.egg-info/
site/

# Jupyter
.ipynb_checkpoints/
.jupyter/
